{
    "repositories": {
        {% for target in targets_data %}
        "{{ target.name }}": {
            {% if target.custom %}
            "custom": {
                {% for key, value in target.custom.items() %}
                "{{ key }}": {{ value | tojson }}{% if not loop.last %},{% endif %}
                {% endfor %}
            }
            {% endif %}
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    }
}
